mocker 1.1.1
pytest 7.4.0
pytest-mock 4.0.3
requests-mock 1.10.0
responses 0.23.1
tox 4.12.3
wheel 0.40.0
setuptools 68.0.0
twine 4.0.2
black 24.3.9
flake8 6.1.0
isort 5.12.0
mypy 1.3.0
pylint 2.17.5
pre-commit 3.4.0
sphinx 7.4.6
sphinx-rtd-theme 1.2.2
sphinx-autodoc-typehints 1.24.0
sphinxcontrib-napoleon 0.8.1
docutils 0.22.1
typing-extensions 4.11.0
colorama 0.4.6
tabulate 0.9.0
packaging 24.0
pyproject-metadata 1.9.2
importlib-metadata 6.8.0
zipp 3.16.2
certifi 2024.5.2
charset-normalizer 3.3.2
idna 3.6
urllib3 2.1.0
requests 2.31.0
httpx 0.24.1
httpcore 0.18.2
h11 0.14.0
sniffio 1.3.0
anyio 3.7.1
idna-ssl 1.1.0
certipy 0.1.3
rfc3986 1.5.0
httpx-oauth 0.6.0
oauthlib 3.2.2
requests-oauthlib 1.3.1